* {
	box-sizing: border-box;
}

/* reset UI styles */
button, input {
	font: inherit;
	background: none;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px 6px;
	line-height: 1;
	vertical-align: middle;
}

#container {
	max-width: 800px;
	margin: 0 auto;
}

#user-info {
	margin-bottom: 1em;
}

/* authenticated */
body.auth #login {
	display: none;
}

body.auth #user-info {
	display: block;
}

/* not authenticated */
body #user-info {
	display: none;
}