body {
    background-color :#2d7366;
    font-family: Helvetica;
    font-size:20px;
    color:#732d51;
}
        

        
a {
    color: #732d68;
    padding: 0.25em;
    transition: background-color 300ms;
}
        
        
        
a:hover{
    background-color:#73662d;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}