/*
	type pairing 2
	font-family: 'Tomorrow', sans-serif;
	font-family: 'Kalam', cursive;
*/

h1,
input,
button,
textarea
p {
	font-family: 'Kalam', cursive;
}

.post,
a {
	font-family: 'Tomorrow', sans-serif;
}

.post-date {
	color: gray;
}