.post-text {
	font-size: 1.25em;
    font-family: 'Josefin Sans';
}
.post-date {
	color: gray;
    font-size:1em;
}

.post-author {
    font-family: 'Josefin Sans';
    color: darkblue;
}

.post {
    line-height: 2;
}



/*
.post,
input, {
    font-family: 'ZCOOL QingKe HuangYou';

}
*/


h1,
button,
a,
.post-date{
    font-family: 'Lobster';
}