#user-info,
#login{
	display: flex;
	justify-content:  flex-end;
	align-items: stretch;
	flex-wrap: wrap;

}

#user-info p,
#login p{
	margin: 0;
}

#user-name{
	font-size: 1em;
}

#login-message{
	flex-basis: 100%;
	text-align: right;

}

#login-email{
	margin-left:  auto;
}

#login-email,
#login-password{ 
	margin-right: 0.5em;
	
}

#create-link a{
	font-size: 1.5em;
}

#create-link{
	align-self: center;
	order:-1;
}
