#container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-gap: 2em;

	grid-template-areas:
		"publish publish publish title"
		"posts posts posts login"
		"posts posts posts nothing";
}

#title{
	grid-area: title;
}

#login, #user-info{
	grid-area: login;
}

#publish-post{
	grid-area: publish;
}

#posts{
	grid-area: posts;
}