#container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5em;

	grid-template-areas:
		"title title login"
		"post post publish"
		"posts posts publish";
}

#title{
	grid-area: title;
}

#login, #user-info{
	grid-area: login;
}

#publish-post{
	grid-area: publish;
}

#posts{
	grid-area: posts;
}

@media screen and (max-width:650px) {
	#container{
		
		grid-template-columns: 1fr 1fr;

		grid-template-areas:
			"title title"
			"login nothing"
			"publish publish"
			"post post";
			
			
		


	}