.post {
	border: 1px solid gray;
	border-radius: 0.25em;
	padding: 1em;
	margin-top: 1em;

	position:relative;
	min-height: 100px;
	
}

.post-text {
	padding: 1em;

}

.post-author {
	
	margin-right: 1em;

}

.post-date {
	
}

.post-profile-image{
	width:100px;
	height:100px;
	object-fit:cover;
	border-radius:100px;

	position:absolute;
	right: 2em;
	top: 10px;

	

}